

body {
background-color: #E8D6CB;
    padding: 50px 50px 50px 50px;
}

fieldset {
background-color: mistyrose;

    padding:20px 20px 20px 20px;

}

h1 {
color: #5D2E46;
}

img {
    float: right;
}

input


