body {
    padding: 75px 150px 150px 150px;
}

fieldset {

background-color: mistyrose;

border: thick aliceblue ridge;

padding:10px 10px 10px 10px;

text-align: center;

}

fieldset.title {

background-color: #D2D6EF;

border: thick aliceblue ridge;

text-align: center;

}

h1 {
color: #676161;
}

img {
align-content: center;
}




